.main-box {
}

.main-box__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.main-accordion {
  flex: 0 1 50%;
}

.main-cart {
  flex: 0 1 50%;
}

@media (max-width: 1280px) {
  .main-box__wrapper {
    flex-direction: column;
  }
}
