.header-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.exchange-rate,
.update-rate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  font-family: sans-serif;
  font-size: 18px;
  color: gray;
}

.update-rate .update-rate__timer {
  font-size: 20px;
  width: 60px;
}

@media (max-width: 1080px) {
  .header-box {
    align-items: flex-start;
    flex-direction: column;
  }
}
